
.jumbotron {
    background : pink !important;
    width: 100%;
    text-align: center;
    margin: 0px !important;
    text-shadow: 2px 3px yellow;
    border: outset;
}

.main-body {
    background: lightgreen;
    padding: 20px;
    border: solid;
}

.randomNumber-text {
    background: yellow;
    padding: 40px;
    border: outset;
    text-align: center;
    font-size: 25px;
    width: 100%;
}

.score-box {
    background: lightblue;
    border: outset;
    font-size: 20px;
    padding: 20px;
}

.image-container {
    padding: 20px;
}

#score-text {
    background: lightblue;
    border: outset;
    font-size: 25px;
    text-align: center;
    padding: 40px;
    width: 100%;
}
