.jumbotron {
    background : orange !important;
    width: 100%;
    text-align: center;
    margin: 0px !important;
}

.main-body {
    background: green;
    width: 400px;
    padding: 20px;
}

.randomNumber-text {
    background: lightblue;
}

.score-text {
    background: plum;
}
